
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "85fd9f2270aa1c0936a6657c6bdc71f860965c5f"}}}
