
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "1f1c2503d6c614b0b39c7674fa5819e9bde3c747"}}}
