
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "aeab860b3dd44aec44b99c2ddde2feb8b10013df"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}}}
